# Example local configuration.
ORACLE_USER=TU_USUARIO
ORACLE_PASSWORD=TU_PASSWORD
ORACLE_CONN_STR=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SID=ORCL)))
ORACLE_QUERY=SELECT * FROM TU_TABLA
ORACLE_OUT=query.parquet

# Another example.
# ORACLE_USER=TU_USUARIO
# ORACLE_PASSWORD=TU_PASSWORD
# ORACLE_CONN_STR=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=TU_HOST)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SID=TU_SID)))
# ORACLE_QUERY=SELECT * FROM TU_TABLA
# ORACLE_OUT=usuarios.parquet
